.flexBoxUserPage {
    display: flex;
    flex-wrap: flex;
    justify-content: center;
}

.flexItemUserPage {
    margin-inline: 10%;
    text-align: center;
    width: 180px;
}

.longButton {
    width: 180px;
    background-color: seashell;
    box-shadow: 2px 2px 2px gray;
}

.mediumButton {
    width: 120px;
    background-color: seashell;
    box-shadow: 1.5px 1.5px 1.5px gray;
}

footer {
    margin-top: 80px;
    padding: 20px;
    text-align: center;
}

/* .creditsbtn {
    margin-top: 10px;
    text-align: center;
} */